body {
    background-color: greenyellow;
    display: flex;
    justify-content: center;
}

.form {
    position: absolute;
    top: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .4);
    width: 80%;
    background-color: lightpink;
    border-radius: 10px;
}

.input {
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px 10px 0 0;
    padding: 20px;
    border: none;
    font-size: 20px;
    font-family: cursive;
}


.input::placeholder {
    color: lightgrey;
}

.list {
    padding: 0;
    margin: 0;
}