body {
    background-color: greenyellow;
    display: flex;
    justify-content: center;
}

.form {
    position: absolute;
    top: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .4);
    width: 80%;
    background-color: yellow;
    border-radius: 10px;
}

.input {
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px 10px 0 0;
    padding: 20px;
    border: none;
    font-size: 20px;
    font-family: cursive;
}


.input::placeholder {
    color: lightgrey;
}

.list {
    padding: 0;
    margin: 0;
}

.list li {
    list-style-type: none;
    padding: 20px;
    font-family: cursive;
    border-top: solid 1px greenyellow;
    border-color: darkgrey;
    position: relative;
}

.list li .fa-trash {
    color: red;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    border: solid 2px red;
    padding: 5px;
}

.list li .fa-check-square {
    color: green;
    position: absolute;
    right: 60px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    border: solid 2px green;
    padding: 5px;
}